.background {
	background: linear-gradient(-45deg, #88f345, #92e56b, #ffffff, #ffffff);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: fit-content;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
